h1, h2, h3, h4, p, a {
	font: helvetica;
	font-size: 16px;
}


.title {
width: 100%;
text-align: center;
font-size: 2rem;
}




.side-panel {
	position: absolute;
	bottom: 0px;
	width: 25%;
	height: 100%;
	background-color: aliceblue;
}

.content {
margin-top: 5rem;
}

.messages {
	font-size: 1.5rem;
	text-align: center;
}


li {
list-style: none;
cursor: pointer;
}

ul {
	padding-left: 3rem;
	padding-bottom: .5rem;
}

#add-room {
    height: 2rem;
    width: 60%;
    margin-left: 20%;
    line-height: 2rem;
    text-align: center;
    background-color: blue;
}






.add-room-form {
position: absolute;
    width: 30%;
    text-align: center;
    height: 20%;
    margin: 20% 35% 0% 35%;
    background-color: cadetblue;
}
