<div class="side-panel">
	<h1 class="title">Bloc Chat<button id="add-room" ng-click="home.open()">New Room</button></h1>
	<div class="content">
		<div class="chats">

			<ul ng-repeat="rooms in home.Chat">
				<li class="room-value" ng-click="home.room.changeRoom(rooms.$value); home.messageSort.getByRoomId(rooms.$id)">{{rooms.$value}}</li>
			</ul>

		</div>

	</div>
</div>


<div class="messages-box">
	<h1 class="roomName">{{home.room.$scope}}</h1>

	<ul class="message-content" ng-repeat="messages in home.messageSort.$scope">
		<li class="user">{{messages.username}}</li>
		<li class="text">{{messages.content}}</li>
		<li class="time">{{messages.sentAt | date:"h:mm a"}}</li>
	</ul>
</div>


<div class="new-message" ng-hide="!home.room.$scope">
	<form class="newMessage" ng-submit="home.send()">
		<input type="text" id="message" placeholder="New Message" ng-model="home.sendInfo">
		<input type="submit" id="send" value="Send">
	</form>

</div>
